<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! {{messageFromChild}}
  </h1>
<app-test (childEvent) = "messageFromChild=$event" [parentData]= " DataOfParent"></app-test>
<h2>{{messageFromChild}}</h2>
  <!-- <app-employee-details></app-employee-details> -->
<app-employee-list></app-employee-list>
<h1>Routing  & Navigation</h1>
<nav>
  <a routerLink="/employee-details" routerLinkActive="active" >Details_ACTUALLY</a>
  <br>
  <a routerLink = "/employee-list" routerLinkActive="active">List-ACTUALLY </a>
</nav>
<router-outlet></router-outlet>
